<div id="calendar">
	<%= calendar_for(@events) do |calendar| %>
	  <%= calendar.head('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun') %>
	  <%= calendar.day do |date, events| %>
	    <%= date.day %>
	  <% end %>
	<% end %>
</div>