<div class="center hero-unit">
  <h1>Welcome to the Classy Class App!</h1>

  <h2>
    This is the home page for the
    <a href="">Classy Class App</a>
    sample application.
  </h2>
</div>

<% if !signed_in? %>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
<% end %>