<% Day.all.each do |day| %>
	<% if @schedule = Schedule.find_by_id(day.belongs_to_schedule) %>
		<% if @schedule.belongs_to_user == current_user.id %>
			<% @array_data = day.order_of_blocks.split(",").collect %>
			<table>
				<tr><th>Day <%= day.number %></th><tr>
				<% @array_data.each do |block| %>
					<tr><td><%= block %></td></tr>
				<% end %>
			</table>
		<% end %>
	<% end %>
<% end %>